<!DOCTYPE html>
<html>

  <head>
    <title>Champions Fast</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <%= form_for @competicao do |f| %>
      Nome: <%= f.text_field :nome %><br/>
      <span id='busca_ajax_corretorbairro'>
        <%= render :partial => "/partials/competicao_tipo" %>
      </span>
      Quantidade Max.: <%= f.text_field :usuario_maximo %><br/>
      Quantidade Min.: <%= f.text_field :usuario_minimo %><br/>
      <%= f.submit %>
    <% end %>
  </body>

</html>
